.DreamifyButtons {
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 0.5px 0.5px #7d0581;
 
    }

.DreamifyButtons:hover {
        background-color: rgb(193, 193, 193);
        color: #242424;
        transition: all 0.3s ease-out;
        }