.reset-btn {
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #242424;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 8px 20px;
    font-weight: bold;
    margin: auto;
}