*{
  margin: 0;
  padding: 0;
}

.page{
  height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  height: 350px;
  width: 350px;
  border-radius: 10px;
  background-color: lightgray;
}

.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  color: black;
}

.img-holder{
  margin: auto;
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 5px;
}

.img{
  width: 200px;
  height:200px;
  object-fit: cover;
}

.open{
  margin-left: 10px;
}

.text{
  margin-left: 50px;
  color: black;
}

.btn{
  margin-left: 50px;
  font-weight: bold;
}