.about-container {
    background: url('../../../../../images/standard/forest.png') center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
}

.about-info {
    margin-top: 4.5rem;
    padding: 2rem;
    background-color: #1b1919;
    border-radius: 0.5rem;    
    max-width:35rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.about-info h1 {
    font-size: 3vw;
    margin-bottom: 1.5rem;
    text-align: center;
    text-shadow:  2px 2px 5px #7d0581;
}

.about-info p {
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: bold;
    text-align: justify;
    text-shadow: .5px .5px #7d0581;
}

@media screen and (max-width: 960px) {
    .about-info h1 {
        font-size: 2rem;
    }
  }