.dream-page{
  background: url('../../../../../images/standard/forest.png') center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh
}

.dream-container{
  margin-top: 4.5rem;
  margin-bottom: 50rem;
  padding: 1.5rem 1.5rem .5rem 1.5rem;
  border-radius: 10px;
  background-color: #1b1919;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction:column;

}

.dream-heading{
  margin-bottom: 1.5rem;
  text-align: center;
  
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow:  2px 2px 5px #7d0581;
}

.dream-img-holder{
  margin: auto;
}

.dream-img{
  width: 25vw;
  height:25vw;
  object-fit: cover;
  border: 3px solid white;
}

#input[type="file"] {
  display: none;
}
  
  .text {
    margin-left: 50px;
    color: black;
  }
  
.dream-btn {
    background: rgb(255, 0, 0);
    color: #001eff;
}

.dream-btn:hover {
    background: rgb(233, 231, 231);
    color: #242424;
    transition: all 0.3s ease-out;
}

.dream-btn:hover {
  background: rgb(233, 231, 231);
  color: #242424;
  transition: all 0.3s ease-out;
}

.dream-image-upload:hover {
background: rgb(233, 231, 231);
color: #242424;
transition: all 0.3s ease-out;
}

.btnTable {
border-spacing: 10px;
margin: 0.5rem auto 0 auto;

}

td{
border-spacing: 50px;

}

@media screen and (max-width: 960px) {
  .dream-heading{
 font-size: 2rem;
  }
  .dream-img{
    width: 16rem;
    height: 16rem;
  }
}