.gallery-container {
    background: url('../../../../../images/standard/forest.png') center center/cover
    no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin: 0;
    padding: 0;
}
