.hero-container {
    background: url('../../../../images/standard/einstein_forest.png') center center/cover
    no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -200px;
    text-shadow:  2px 2px 5px #7d0581;
    margin-bottom: 1rem;
}

.hero-container > p {
    margin-top: 8px;                        
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px #7d0581;
}

.hero-container > p:nth-child(3) {
    margin-top: 2rem;
}

.hero-btsn {
    margin-top: 32px;
}
.hero-btns .btn {
    margin: 6px;
}
.btns {
    background-color: rgb(255, 0, 0);
    color: black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    }

.btns:hover {
        background-color: rgb(193, 193, 193);
        color: #242424;
        transition: all 0.3s ease-out;
        }

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }
    
    .btn-mobile {
        display: block;
        text-decoration: None;
    }
    
    .btn {
        width: 100%;
    }
}