.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar-container {
  position: fixed;
  left: 0;
  margin-left: 1rem;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}


.nav-menu {
  position: fixed;
  right: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0.75rem;
  list-style: none;
  justify-content: end;
  margin-right: 12rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  height: 100%;
  border: 3px solid transparent;
}

.nav-links:hover {
  border-bottom: 3px solid #fff;
  transition: all 0.1s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 75rem) {
  .NavbarItems {
    position: relative;
  }
  
  .nav-menu {
    z-index: -1;
    background: #1a1818;
    margin-right: 0;
    padding: 4rem 2rem 100vh 2rem;
    top: 0;
    right: -45%;
    display: flex;
    opacity: 0;
    flex-direction: column;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    clip-path: inset(4rem 0px 0px -3px);
    transition: opacity 1s ease, right 0.3s ease;
  }

  .nav-menu.active {
    opacity: 1;
    right: 0;
    transition: opacity 0.3s ease, right 0.3s ease;
  }

  .navbar-container {
    position: relative;
    margin: auto;
  }
  
  
  .nav-links {
    text-align: center;
    width: 100%;
    display: table;

  }


  .icon-container {
    position: relative;
    margin: auto;
  }

  .icon-container {
    position: fixed;
    right: 0;
    margin-right: 2rem;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
  }


  .fa-times {
    color: #fff;
    margin-right: 0.20rem;
    font-size: 2.5rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}